.container {
    display: flex;
    flex-direction: row; /* Ensures left and right blocks are side by side */
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.left-block, .right-block {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.left-block {
    width: 60%; /* Adjust as needed */
}

.right-block {
    width: 35%; /* Adjust as needed */
    background-color: #f0f8ff;
}

.right-block h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#selected-foods-list {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    max-height: 500px;
    overflow-y: auto;
}

.food-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    font-size: 1em;
    margin: 0 5px;
}

.tab-button.active {
    background-color: #fb5f5f;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#low-results, #high-results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

/* .food-block {
    position: relative;
    color: white;
    width:category-title 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: end;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
} */

.food-details {
    margin: 2px 0;  /* Minimal margin to keep them compact */
    padding: 5px;
    font-size: 0.9em;  /* Slightly smaller font size to make it compact */
    cursor: pointer;   /* Indicate clickable elements */
    border-radius: 3px;
}

.food-details.selected {
    background-color: #E6F5E1; /* Light green for selected items */
    border: 1px solid #4CAF50; /* Green border for selected items */
}

.category-title {
    padding: 5px;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.warning {
    color: red;
    font-weight: bold;
}

.mineral-content {
    color: red;
    /* font-weight: bold; */
}

.food-name {
    font-weight: bold;
}

.food-name.selected {
    color: blue;
    font-weight: bold;
}
